<%- include("partials/navbar.ejs") %>
<div class="container min-vh-100">
    <form action="/user/profile" method="POST">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName">
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone">
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" name="address">
          </div>
          <div class="mb-3">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="text" class="form-control" id="birthday" name="birthday">
          </div>
          <div class="mb-3">
            <label for="hobbies">Hobbies</label>
            <textarea class="form-control" placeholder="Write your hobbies here" id="hobbies" name="hobbies"></textarea>
          </div>
          <!-- <div class="mb-3">
            <label for="hobbies" class="form-label">Hobbies</label>
            <input type="image" class="form-control" id="hobbies" name="hobbies">
          </div> -->

        
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
    
  
  <%- include("partials/footer.ejs") %>