<%- include("partials/navbar.ejs") %>
      <div><%- include("partials/flash.ejs") %></div>
      <div class="d-flex justify-content-center align-items-center min-vh-100">
        <img src="/img/lps.png" alt="" style="width: 400px">
      </div>
<%- include("partials/footer.ejs") %>
