<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
  initial-scale=1.0"
    />

    <%- include("partials/links.ejs") %>

    <title>BookFace</title>
  </head>
  <body>
    <div class="container min-vh-100">
      <h1>BookFace</h1>
    </div>
    <%- include("partials/footer.ejs") %> <%- include("partials/scripts.ejs") %>
  </body>
</html>
