  <%- include("partials/navbar.ejs") %>

  <div class="d-flex align-items-center flex-column">
    <%- include("partials/flash.ejs") %>
      <h1 class="bg-light text-dark p-4 rounded-pill mb-5 shadow">Login</h1>
        <div class="card col-12 col-lg-4 shadow">
          <div class="card-body">
            <form action='/user/login' method='POST' style="border-radius: 20px">
              <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name='password' required>
              </div>
              <button type="submit" class="btn btn btn-outline-dark rounded rounded-3">Go</button>
            </form>
          </div>
        </div>
  </div>

<%- include("partials/footer.ejs") %> 

   

