<%- include("partials/navbar.ejs") %>

    <div class="container min-vh-100">
      <div class="d-flex justify-content-center align-items-center min-vh-100 flex-column">
        <h1>Create New Post</h1>
        <form action="/posts" method="POST">
          <div class="mb-3">
            <textarea class="form-control" placeholder="Write a new post." id="content" style="height: 100px" name="content"></textarea>
            <label for="content">Comments</label>
          </div>
          
    
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

<%- include("partials/footer.ejs") %>
