<%- include("partials/navbar.ejs") %>

    <div class="container min-vh-100">
      <div class="d-flex justify-content-center align-items-center min-vh-100">
        <h1>Create New Post</h1>
    </div>

<%- include("partials/footer.ejs") %> <%- include("partials/scripts.ejs") %>
  </body>
</html>
