<%- include("partials/navbar.ejs") %>

<div class="d-flex align-items-center flex-column">
  <%- include("partials/flash.ejs") %>
  <h1 class="bg-light text-dark p-4 rounded-pill mb-5">Register</h1>
  <div class="card col-12 col-lg-4">
    <div class="card-body">
      <form action='/user/register' method='POST'>
        <div>
            <label for="username" class="form-label">Username</label>
            <input type=text" class="form-control" id="username" name='username' required>
          </div>
        <div>
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name='email' required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name='password' required>
        </div>
          <button type="submit" class="btn btn-success rounded rounded-3">Sign up</button>
      </form>
    </div>
  </div>

  
</div>




<%- include("partials/footer.ejs") %>
