<%- include("partials/navbar.ejs") %>



    <div class="d-flex align-items-center flex-column">
      <h1 class="bg-light text-dark p-4 rounded-pill mb-5">Update Post</h1>
      <div class="col-lg-6 col-12">
        <div class="card">
          <div class="card-header">
           Update
          </div>
          <div class="card-body">
            <form action="/updatepost/<%= post.id %>?_method=PUT" method="POST">
              <div class="mb-3">
                <textarea class="form-control rounded" placeholder="Write a new post..." id="content" name="content" style="height: 100px" required><%= post.content %></textarea>
              </div>
              <button type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

<%- include("partials/footer.ejs") %>
